.DS_Store

RestClientDemo/RestClientDemo.xcodeproj/xcuserdata/
RestClientDemo/RestClientDemo.xcodeproj/project.xcworkspace/xcshareddata/*
RestClientDemo/RestClientDemo.xcodeproj/project.xcworkspace/xcuserdata/*
UserInterfaceState.xcuserstate

